.portfolio_banner{
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    .navbar {
        width: 100%;
        background: #000 !important;
        padding: 20px 0;
    }
    .banner_section{
        width: 100%;
        height: calc(100vh - 93px);
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            z-index: 2;
            position: relative;
            h2{
                font-family: "Poppins", sans-serif;
                font-weight: 400;
            }
            h1{
                font-size: 86px;
                font-weight: 700;
                position: relative;
                white-space: nowrap;
                
                span{
                    font-family: "Oswald", sans-serif;
                    white-space: nowrap;    
                    &.green{
                        color: #2CE2A9;
                    }
                    &.blue{
                        color: #3B88FB;
                    }
                }    
            }
            p{
                margin: 30px 0;
                font-size: 18px;
            }
            .navigation{
                display: flex;
                gap: 20px;
                align-items: center;
                a{
                    color: #fff;
                    font-size: 18px;
                    span{
                        margin-left: 11px;
                    }
                }    
            }
        }
        .img_banner{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            position: relative;
            z-index: 2;
            text-align: center;
            &::before{
                position: absolute;
                content: '';
                background-image: url(../../../assets/images/img/shadow.png);
                z-index: -1;
                width: 940px;
                height: 870px;
                bottom: 10px;
                filter: blur(120px);
                right: 70px;
            }
            img{
                width: 100%;
                max-width: 463px;
                height: 100%;
                min-height: 609px;
                border-radius: 145px;
                margin: 0 auto;
            }
        }
    }
}

@media(min-width: 1024px) and (max-width: 1425px){
    .portfolio_banner .banner_section .img_banner img {
        max-width: 403px;
        min-height: 529px;
    }
    .portfolio_banner .banner_section .content h1 {
        font-size: 66px;
    }
    .projects_section .projects_inner .project_description .project_image_laptop {
        left: 35% !important;
    }
    .experience_sec .my_work .work_1 .project img {
        max-width: 258px;
        min-height: 198px !important;
        max-height: 248px;
        min-width: 228px !important;
    }
    .experience_sec .journey ul li:nth-child(odd) .company_detail h6 {
        font-size: 18px;
        word-break: break-word;
        width: 190px;
    }
    .experience_sec {
        padding-bottom: 50px;
    }
}

@media(min-width: 320px) and (max-width: 991px) {
    .portfolio_base .portfolio_banner .banner_section {
        height: 100%;
        margin: 50px 0;
    }
    .portfolio_banner .banner_section .img_banner::before {
        display: none;
    }
    .portfolio_banner .banner_section .content h1 {
        font-size: 46px;
    }
    .portfolio_banner .banner_section .img_banner img {
        max-width: 423px;
        min-height: 519px;
        border-radius: 85px;
        margin: 40px auto;
    }
    .cursor{
        display: none;
    }
}