@import '../../../app.scss';

.experience_sec{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    .my_work{
        width: 100%;
        h4{
            font-size: 34px;
            color: #3B88FB;
            width: 100%;
            text-align: center;
            padding-bottom: 30px;
        }
        .work_1{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 300px 2fr;
            gap: 20px;
            .project{
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 338px;
                    min-height: 268px;
                    max-height: 268px;
                    min-width: 298px;
                    object-fit: cover;
                }
            }
        }
    }
    .journey{
        width: 100%;
        .heading{
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
            h4{
                color: $greenColor;
                font-size: 86px;
            }
        }
        ul{
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 1px;
                height: 100%;
                background: #fff;
                left: 50%;
            }
            li{
                display: flex;
                position: relative;
                width: 100%;
                margin: 10px 0;
                &::before {
                    position: absolute;
                    content: '';
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: #000;
                    left: 46.5%;
                    top: -10px;
                    border: 1px solid #fff;
                    z-index: 1;
                }
                &:nth-child(2){
                    &:before{
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: #000;
                        left: 46.5%;
                        top: 10px;
                        border: 1px solid #fff;
                        z-index: 1;
                    }
                    .computer_svg {
                        top: 22px !important;
                    }
                }
                &:nth-child(3) {
                    &:before {
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: #000;
                        left: 46.5%;
                        top: 10px;
                        border: 1px solid #fff;
                        z-index: 1;
                    }
                    .computer_svg {
                        top: 22px !important;
                    }
                }
                &:nth-child(4) {
                    &:before {
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: #000;
                        left: 46.5%;
                        top: 20px;
                        border: 1px solid #fff;
                        z-index: 1;
                    }
                    .computer_svg {
                        top: 30px !important;
                    }
                }
                &:nth-child(5) {
                    &:before {
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: #000;
                        left: 46.5%;
                        top: 50px;
                        border: 1px solid #fff;
                        z-index: 1;
                    }
                    .computer_svg {
                        top: 65px !important;
                    }
                }
                &:nth-child(odd){
                    .company_detail{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        h4{
                            font-family: 'poppins',sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        h5{
                            font-family: 'poppins', sans-serif;
                            font-size: 18px;
                            font-weight: 400;
                        }
                        h6{
                            font-family: 'poppins', sans-serif;
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                    .computer_svg {
                        position: absolute;
                        left: 48.2%;
                        z-index: 1;
                        top: 3px;
                    
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
                &:nth-child(even) {
                .company_detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                    align-items: flex-end;
                        h4 {
                            font-family: 'poppins', sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                        }
                
                        h5 {
                            font-family: 'poppins', sans-serif;
                            font-size: 18px;
                            font-weight: 400;
                        }
                
                        h6 {
                            font-family: 'poppins', sans-serif;
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                    .computer_svg {
                        position: absolute;
                        left: 48.2%;
                        z-index: 1;
                        top: 3px;

                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 320px) and (max-width: 991px) {
    .experience_sec .my_work .work_1 {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    .experience_sec .my_work .work_1 .project img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
    }
    .experience_sec .journey {
        width: 100%;
        margin: 100px 0;
    }
    .experience_sec .journey ul::after {
        display: none;
    }
    .experience_sec .journey ul li:nth-child(even) .company_detail {
        align-items: flex-start;
    }
    .experience_sec .journey ul {
        padding: 0 0 0 70px;
    }
    .experience_sec .journey ul li:nth-child(2):before {
        left: -68px;
    }
    .experience_sec .journey ul li::before {
        left: -68px;
    }
    .experience_sec .journey ul li:nth-child(3):before {
        left: -68px;
    }
    .experience_sec .journey ul li:nth-child(4):before {
        left: -68px;
    }
    .experience_sec .journey ul li:nth-child(5):before {
        left: -68px;
    }
    .experience_sec .journey ul li:nth-child(6):before {
        left: -68px;
    }
    .experience_sec .journey ul li:nth-child(odd) .computer_svg {
        left: -56px;
    }
    .experience_sec .journey ul li:nth-child(even) .computer_svg {
        left: -56px;
    }
}