@import '../../../app.scss';

.footer{
    width: 100%;
    padding: 20px 0;
    background: rgba($color: #151515, $alpha: 0.50);
    overflow: hidden;
    .footer_inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer_left{
            h4{
                display: flex;
                gap: 15px;
                span {
                    animation: beat .25s infinite alternate;
                    @keyframes beat {
                        to {
                            transform: scale(1.2);
                        }
                    }
                    svg {
                        width: 34px;
                        height: 34px;
                    }
                }
            }    
        }
        .footer_right {
            display: flex;
            gap: 15px;
            a {
                svg {
                    width: 34px;
                    height: 34px;
                }
            }
        }
    }
    .footer_copyright{
        width: 100%;
        text-align: center;
        h4{
            font-size: 14px;
            font-family: 'poppins', sans-serif;
        }
    }
}    