@import '../../../app.scss';

.development_section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    .development_content{
        width: 100%;
        h4{
            font-size: 86px;
            font-weight: 400;
            position: relative;
            white-space: nowrap;
            text-align: center;
            span {
                font-family: "Oswald", sans-serif;
                white-space: nowrap;
        
                &.green {
                    color: #2CE2A9;
                }
        
                &.blue {
                    color: #3B88FB;
                }
            }
        }
        h6{
            font-size: 30px;
            text-align: center;
        }
        .line_verticle{
            width: 1px;
            height: 50vh;
            background: #eee;
            margin: 30px auto;
            text-align: center;
        }
        p{
            font-size: 18px;
            text-align: center;
        }
    }
    .development_img{
        width: 100%;
        position: relative;
        img{
            .main_img{
            @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }
            }
            &:first-child{
                width: 96px;
                height: 145px;
                object-fit: contain;
                position: absolute;
                left: 11%;
                top: 7%;
                animation: float 6s ease-in-out infinite;
                @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }    
            }
            &:nth-child(2) {
                width: 82px;
                height: 145px;
                object-fit: contain;
                position: absolute;
                top: 30%;
                right: 20px;
                animation: float 6s ease-in-out infinite;
                @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }
            }
            &:nth-child(3) {
                width: 82px;
                height: 145px;
                object-fit: contain;
                position: absolute;
                top: 42%;
                left: 20px;
                animation: float 6s ease-in-out infinite;
                @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }
            }
            &:nth-child(4) {
                width: 82px;
                height: 145px;
                object-fit: contain;
                position: absolute;
                top: 80%;
                right: 0;
                animation: float 6s ease-in-out infinite;
                @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }
            }
            &:nth-child(5) {
                width: 82px;
                height: 145px;
                object-fit: contain;
                position: absolute;
                top: 0;
                right: 20%;
                animation: float 6s ease-in-out infinite;
                @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }
            }
            &:nth-child(6) {
                width: 82px;
                height: 145px;
                object-fit: contain;
                position: absolute;
                bottom: 40px;
                left: 12%;
                animation: float 6s ease-in-out infinite;
                @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }
            }
            &:nth-child(7) {
                width: 82px;
                height: 145px;
                object-fit: contain;
                position: absolute;
                bottom: -70px;
                left: 50%;
                animation: float 6s ease-in-out infinite;
                @keyframes float {
                    0% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
            
                    50% {
                        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                        transform: translatey(-20px);
                    }
            
                    100% {
                        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                        transform: translatey(0px);
                    }
                }
            }
        }
    }
}

@media(min-width: 320px) and (max-width: 991px) {
    .development_section {
        margin-bottom: 140px;
    }
    .development_section .development_content h4 {
        font-size: 52px;
    }
    .development_section .development_img img:first-child {
        width: 76px;
        height: 75px;
    }
    .development_section .development_img img:nth-child(3) {
        width: 52px;
        height: 75px;
        top: 32%;
        left: 20px;
    }
    .development_section .development_img img:nth-child(7) {
        width: 42px;
        height: 145px;
        bottom: -70px;
        left: 50%;
    }
    .development_section .development_img img:nth-child(4) {
        width: 62px;
        height: 105px;
        top: 80%;
        right: 20px;
    }
    .development_section .development_img img:nth-child(2) {
        width: 52px;
        height: 175px;
        top: 30%;
        right: 20px;
    }
}