@import '../../app.scss';

.portfolio_base{
    width: 100%;
    min-height: 100vh;
    background: $baseColor;
    background-image: url(../../assets/images/img/sky_backgrpund.jpg);
    &::-webkit-scrollbar {
        display: none;
    }
}

.preloader{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    h4{
        font-size: 32px;
        color: #fff;
    }
    h2{
        font-size: 82px;
        color: #fff;
    }
}