@import '../../app.scss';

.portfolio_base{
    width: 100%;
    min-height: 100vh;
    background: $baseColor;
    background-image: url(../../assets/images/img/sky_backgrpund.jpg);
    &::-webkit-scrollbar {
        display: none;
    }
}

.preloader{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    h4{
        font-size: 32px;
        color: #fff;
    }
    h2{
        font-size: 82px;
        color: #fff;
    }
}

.cursor{
    position: fixed;
    margin-left: -20px;
    margin-top: -20px;
    transition: transform .2s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
    background-image: url(../../assets/images/img/main__logo.svg);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}