@import '../../app.scss';

.portfolio_base{
    width: 100%;
    min-height: 100vh;
    background: $baseColor;
    background-image: url(../../assets/images/img/sky_backgrpund.jpg);
    &::-webkit-scrollbar {
        display: none;
    }
}